.avaliation{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.score-container svg{
    font-size: 1.6rem;
    cursor: pointer;
    transition: 0.3s;
}

.score-container svg:hover{
    fill: #1b22ad;
}

.score-container input:checked ~ svg{
    fill: #1b22ad;
}

.radio-container{
    text-align: center;
    position: relative;
}

.radio-container input{
    position: absolute;
    opacity: 0;
    top: 30px;
    left: 30px;
}

.radio-container p{
    font-style: italic;
    font-weight: 300;
    font-size: .9rem;
    margin-top: .4rem;
}